.barratempo {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.barratempo li {
    margin: 0 0; 
    font-size: larger;
    width: 12%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: linear-gradient(135deg, #f2f2f2, #d9d9d9);
    border: 1px solid transparent;
    border-radius: 15px;
    color: #F5EDED;
}

.barratempo li:hover {
    background-color: #6a91d6;
    transform: scale(1.02);
    cursor: pointer;
    color: black;
}

.barratempo li.ativo {
    background-color: #6a91d6;;
  }
  