.climaamanha {
    margin-top: 2%;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    min-width: 40%;
}

.tituloclima {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.imagemamanha {
    position: relative;
    right: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem {
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.climaamanha-content {
    margin-top: 15%;
    display: flex;
    align-items: start;
    justify-content:start;
    flex-direction: column;
    gap: 10px;
    position: relative;
    bottom: 10%;
    left: 25%;
    width: 80%;
}

.temperaturaminamanha, .temperaturamaxamanha, .precipitacaoamanha, .feelslike {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.precipitacao {
    position: relative;
    color: black;

}

.mudatempamanha {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 30%;
    top: 25%;
}

.mudatempamanha:hover {
    background-color: #45a049;
}

.toggle-chart-btn {
    background-color: #21558b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    position: relative;
}
  
.toggle-chart-btn:hover {
    background-color: #0056b3;
}

canvas {
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
    bottom: 20%;
  }
  
.imagemamanha {
    position: relative;
    right: 25%;
    bottom: 28%;
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemamanha img {
    transform: scale(1.5);
}